
h1 {
    font-family: 'Press Start 2P';
}
.background-scene{
    height: 240px;
    width:400px;
    position: relative;
    margin:auto;
}

.enemypokemon{
    position: absolute;
    bottom:130px;
    right:15%;

}

.playerpokemon{
    position: absolute;
    bottom:0px;
    left:14%;
    height: 100px;
}

#enemy-battlebox{
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
    position: relative;
    height: 50px;
    width:140px;
    right: 110px;
    top: 20px;
    
}

#enemyname{
    position: absolute;
    font-size: 10px;
    margin:auto;
}

#enemylv{
    position: absolute;
    font-size: 10px;
    right: 0px;
}

#enemyhpbar{
    position: absolute;
    background-color: greenyellow;
    top: 30px;
    right: 0px;
    width: 100px;
    height: 7px;
    border-radius: 5px;
}

#enemyredbar{
    position: absolute;
    background-color: rgb(255, 47, 47);
    top: 30px;
    right: 0px;
    width: 100px;
    height: 7px;
    border-radius: 5px;
    
}