
h1 {
    font-family: 'Press Start 2P';
}
.background-scene{
    height: 240px;
    width:400px;
    position: relative;
    margin:auto;
    overflow: hidden;
}

.enemypokemon{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.enemy-position{
    position: absolute;
    width: 200px;
    height: 20px;
    left: 220px;
    top: 90px;
}

.playerpokemon{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 110px;
}

.player-position{
    position: absolute;
    width: 200px;
    height: 20px;
    bottom: 10px;
    right: 175px;
}

#enemy-battlebox{
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
    position: relative;
    height: 50px;
    width:140px;
    right: 110px;
    top: 20px;
    
}

#enemyname{
    position: absolute;
    font-size: 10px;
    margin:auto;
}

#enemylv{
    position: absolute;
    font-size: 10px;
    right: 0px;
}

#enemyhpbar{
    position: absolute;
    background-color: greenyellow;
    top: 30px;
    right: 0px;
    width: 0px;
    height: 7px;
    border-radius: 5px;
}

#enemyredbar{
    position: absolute;
    background-color: rgb(255, 47, 47);
    top: 30px;
    right: 0px;
    width: 100px;
    height: 7px;
    border-radius: 5px;
    
}

#player-battlebox{
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
    position: relative;
    height: 50px;
    width:140px;
    left: 110px;
    top: 110px;
    
}

#playername{
    position: absolute;
    font-size: 10px;
    margin:auto;
}

#playerlv{
    position: absolute;
    font-size: 10px;
    right: 0px;
}

#playerhpbar{
    position: absolute;
    background-color: greenyellow;
    top: 30px;
    right: 0px;
    width: 0px;
    height: 7px;
    border-radius: 5px;
}

#playerredbar{
    position: absolute;
    background-color: rgb(255, 47, 47);
    top: 30px;
    right: 0px;
    width: 100px;
    height: 7px;
    border-radius: 5px;
    
}

#playerhp{
    position:absolute;
    top: 30px;
    right: 0px;
}

#menu{
    height: 120px;
    width: 400px;
    border: solid rgb(0, 80, 134) 5px;
    border-radius: 0;
}